@import "../../styles/common.scss";

$used-fill: $highlight-red;
$font-size-base: 12px;

.container {
    display: block;
    margin: auto;

    .unused {
        fill: $grey-dark;
    }

    .used {
        fill: $used-fill;
    }

    .needle {
        fill: $white;
    }

    .label {
        font-size: $font-size-base;
        font-weight: bold;

        &.limits {
            fill: $grey-light;
        }

        &.max {
            fill: $grey-light;
        }

        &.value {
            font-size: $title-font;
            fill: $white;
        }
    }
}
