@import "../../../styles/common.scss";

.container {
    .line {
        stroke-width: 2px;
    }

    &.highlighted {
        .line {
            stroke-width: 4px;
        }
    }

    .line:hover {
        cursor: default;
    }
}
