@import "../../styles/common.scss";

.container {
    display: flex;
    flex-direction: column;
    background-color: $grey-dark;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    padding: 5px;

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-content: flex-start;

        li.item {
            list-style: none;
        }
    }
}
