@import "../../../styles/common.scss";

div.container {
    background-image: url("/blur-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $grey-dark;
        opacity: 0.5;
    }

    > div.lozenge {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        width: 60%;
        text-align: center;
        border: 1px solid $white;
        padding: $extra-large-padding;

        > h1 {
            font-size: 76px;
            font-weight: $font-weight-light;
            margin-block-start: 0;
            margin-block-end: $extra-large-padding;
        }

        > p {
            font-size: $font-size-regular;
            font-weight: $font-weight-light;
            margin-block-start: 0;
            margin-block-end: $standard-padding;
            width: 75%;
            line-height: 32px;
        }
    }
}
