@import "../../styles/common.scss";

$font-size-small: 10px;
$font-size-base: 12px;

.container {
    display: flex;
    align-items: flex-end;

    .label {
        display: inline-block;
        color: $grey-light;
        font-size: $font-size-small;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 30px;
        padding-top: 5px;
        line-height: 10px;
    }

    .block {
        height: 10px;
        margin-bottom: 1px;

        > svg {
            position: absolute;
        }

        .pointer {
            stroke: none;
            fill: none;
        }

        &:hover {
            cursor: default;
        }
    }

    &.highlighted {
        .label {
            color: $white;
        }

        .pointer {
            fill: $white;
        }
    }
}
