@import "../../styles/common.scss";
$font-size-base: 12px;

.container {
    //@include box-shadow(1);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: auto;
    flex-grow: 0;
    background-color: $grey-mid;
    color: $white;
    margin: 5px;
    border-radius: 2px;

    height: 200px;
    width: 300px;

    .header {
        .dragContainer {
            height: 28px;
            width: 28px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: color(brand, dark-grey);
                height: 18px;
                cursor: move;
            }
        }

        display: flex;
        height: 28px;

        .title {
            flex-grow: 1;
            padding: 0;
            line-height: 28px;
            color: color(brand, dark-grey);
            font-size: $font-size-base;
            font-weight: bold;
        }

        button {
            padding: 0;
            height: 28px;
            width: 28px;
            z-index: inherit;

            svg {
                fill: color(brand, dark-grey);
                height: 18px;
            }
        }
    }

    .body {
        display: flex;
        flex: 1;
        width: auto;

        > * {
            margin: auto;
        }
    }
}
