div.container {
    background-color: rgba(255, 0, 0, 1);
    transition: transform 1s;

    &.fade {
        background-color: rgba(255, 0, 0, 0);
        //transition: background-color 100ms linear;
    }
}
