div.container {
    border: 1px solid black;
    padding: 10px;
    animation: flash 0.1s;

    > div.elements {
        display: flex;
        flex-direction: row;
    }
}

@keyframes flash {
    0% {
        background-color: pink;
    }
    100% {
        background-color: transparent;
    }
}
