@import "../../styles/common.scss";

nav.container {
    background-color: $grey-dark;
    position: sticky;
    top: 0;
    z-index: 15000;
    border-bottom: 1px solid $grey-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $standard-padding $large-padding;

    > div.logo {
        flex-grow: 1;
        color: $highlight-orange;
        font-size: $font-size-logo;
        font-weight: $font-weight-light;
        text-transform: lowercase;
    }

    > a.item {
        color: $white;
        font-weight: $font-weight-bold;
        padding-right: $large-padding;
        text-decoration: none;
    }
}
