$black: #000;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);

$grey-light: rgb(128, 134, 147);
$grey-mid: rgb(25, 28, 36);
$grey-dark: rgb(0, 0, 0);

$highlight-red: rgb(255, 66, 74);
$highlight-orange: rgb(255, 171, 0);
$highlight-yellow: rgb(232, 232, 0);
$highlight-green: rgb(0, 210, 91);
$highlight-blue: rgb(0, 144, 231);
$highlight-violet: rgb(143, 95, 232);

$extra-large-padding: 38px;
$large-padding: 24px;
$standard-padding: 10px;
$small-padding: 3px;

$header-height: 82px;

$font-size-logo: 32px;
$font-size-gauge-value: 36px;
$font-size-large: 20px;
$font-size-regular: 15px;

$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 500;
$font-weight-extra-bold: 600;

$standard-icon-size: 24px;

$large-padding-and-icon-shim: calc($large-padding + $standard-icon-size + $standard-padding);
