@import "./common.scss";

body {
    margin: 0;
    background-color: $grey-light;
    color: $white;
    font-family: system-ui, Rubik, Segoe UI Symbol, Noto Color Emoji;
    font-size: $medium-font;
    color: #f0f0f0;

    div.grid-stack {
        div.grid-stack-item {
            div.ui-resizable-se {
                color: $grey-light;
                width: 20px;
                height: 20px;
                transform: rotate(0);
                border-radius: 0;
                background-image: url("/resize-bottom-right.svg");
                margin: 3px;
            }
        }
    }
}
